body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    width: 100%;
}


header {
    background-color: #043f43;
    color: white;
    padding: 20px 0 0 0;
    text-align: center;
}


nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    padding: 15px 15px;
}

nav ul li:hover {
    background-color: #003639;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}



section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #043f43;
    color: white;
    bottom: 0;
}

.mainPhoto {
    max-height: 20vh;
}

#cat {
    text-align: center;
}

.coolLink {
    text-decoration: none;
}

.indent {
    padding-left: 8px;
}